.font {
    font-size: large;
    color: white;
    font-style: italic;
}

.titulo {
    text-decoration: overline;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
}

